.rails_blog_engine_post
  %h1
    = link_to_unless_current(post.title, post_permalink_path(post))
    = render(:partial => 'rails_blog_engine/posts/tools',
             :locals => { :post => post })
  %p.byline
    Posted
    = distance_of_time_in_words_to_now(post.published_at)
    ago by
    = post.author_byline

  %div.rails_blog_engine_body~ markdown(post.body, :trusted? => true)

  - if current_page?(post_permalink_path(post))
    = render(:partial => 'rails_blog_engine/posts/blog_comments_section',
             :locals => { :post => post, :blog_comments => @blog_comments,
                          :blog_comment => @blog_comment })
  - else
    %p.links
      = link_to_blog_comments_section(post)
